<!-- Footer -->

</div>
<footer class="page-footer font-small text-white bg-dark py-1 mt-md-6" style=" clear: both;
    position: relative; bottom: 0px;">

  <!-- Footer Elements -->
  <div class=" footer-copyright text-center py-2">© 2021 Copyright:
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->