<%- include ('Partials/header.ejs'); -%>
    <div class=" container">
        <div class="row align-items-start">
            <div class="col">
                <a href="/createtable/" class=" dash btn btn-block btn-success">Create New Table <i class="fa-solid fa-square-plus"></i></a>
            </div>
            <i class="fa-solid fa-square-plus"></i>
            <div class="col">
                <a href="/showalltable" class=" dash btn btn-block btn-success">My Table <i class="fa-regular fa-table"></i></a>
            </div>
        </div>


    </div>
    </div>
    </div>
    <%- include ('Partials/footer.ejs'); -%>
        </body>

        </html>