<%- include ('partials/header.ejs'); -%>
    <div class="container row d-flex justify-content-center" style="margin: 120px;">

    
       <div class="g-signin2" data-onsuccess="onSignIn"></div>
       
       <div class="form-row justify-content-center " style=" width: 150px;">
        <div class="form-group col-md-1">
            <a href="/dashboard" class="btn btn-primary btn-block" style="width: 122px;">dashboard</a>
        </div>
    </div>
    </div>
    
    <p>Use Dashboard Button if you are not automatically Redirect to Dashboard Page after sign in</p>
    </div>
    <script>
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/login');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
                    console.log('Signed in as: ' + xhr.responseText);
                    if(xhr.responseText == 'success'){
                        signOut();
                        location.assign('/dashboard')
                    }
            };
            xhr.send(JSON.stringify({token: id_token}));
        }
    </script>
    

    </div>
    <%- include ('partials/footer.ejs'); -%>
        </body>

        </html>