<%- include ('partials/header.ejs'); -%>
    <div class="container row d-flex justify-content-center">

       
    </div>

    </div>
    <%- include ('partials/footer.ejs'); -%>
        </body>

        </html>